<ion-header>
  <ion-toolbar>
    <ion-title class="center">¡Mi aplicación de tareas!</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle class="task-add-subtitle">
        Añadir tarea
      </ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <form [formGroup]="ngForm" (ngSubmit)="onSubmit()">
        <span
          [ngClass]="{'color-danger': descriptionLength >= 501}"
          class="description-length"
          >{{ descriptionLength }} / 500</span
        >
        <ion-item>
          <ion-label position="floating">Tarea a realizar....</ion-label>
          <ion-textarea formControlName="description"></ion-textarea>
        </ion-item>
        <div
          *ngIf="description.invalid && (description.dirty || description.touched)"
          class="alert"
        >
          <span
            class="error ion-padding color-danger"
            *ngIf="description.errors?.['required']"
          >
            La descripción es requerida.
          </span>
          <span
            class="error ion-padding color-danger"
            *ngIf="description.errors?.['maxLength']"
          >
            Has superado el máximo de caracteres
          </span>
        </div>

        <ion-button
          type="submit"
          class="ion-margin-top extra-padding-top-bottom"
          expand="full"
          >{{ !selectedTask ? 'Añadir' : 'Modificar'}} tarea</ion-button
        >
        <ng-container *ngIf="!!selectedTask">
          <ion-button
            class="ion-margin-top extra-padding-top-bottom"
            expand="full"
            color="light"
            (click)="unSelectTask()"
            >Regresar</ion-button
          >
        </ng-container>
      </form>
    </ion-card-content>
  </ion-card>

  <ng-container *ngIf="tasks$ | async as tareas">
    <ion-card class="task-item" color="tertiary" *ngFor="let tarea of tareas">
      <ion-card-header>
        <ion-card-subtitle class="task-header">
          <span>Task</span>
          <span>{{ tarea.createdAt| date: 'd/M/yy, HH:mm' }}</span>
        </ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        <ion-text>
          <h4>{{ tarea.description }}</h4>
        </ion-text>
        <ion-fab horizontal="end" vertical="bottom" slot="fixed">
          <ion-fab-button color="light">
            <ion-icon name="ellipsis-horizontal-sharp"></ion-icon>
          </ion-fab-button>
          <ion-fab-list side="start">
            <ion-fab-button color="danger" (click)="onDelete(tarea.id)">
              <ion-icon name="trash-sharp"></ion-icon>
            </ion-fab-button>
            <ion-fab-button color="dark" (click)="setSelectedTask(tarea)">
              <ion-icon name="create-sharp"></ion-icon>
            </ion-fab-button>
            <ion-fab-button color="success" (click)="onCompletedTask(tarea.id)">
              <ion-icon name="flash-sharp"></ion-icon>
            </ion-fab-button>
          </ion-fab-list>
        </ion-fab>
      </ion-card-content>
    </ion-card>
  </ng-container>
</ion-content>
