<ion-header>
  <ion-toolbar>
    <ion-title class="center">¡Mi aplicación de tareas!</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle class="task-add-subtitle">
        Añadir tarea
      </ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <form [formGroup]="ngForm" (ngSubmit)="onSubmit()">
        <span
          [ngClass]="{'color-danger': descriptionLength >= 501}"
          class="description-length"
          >{{ descriptionLength }} / 500</span
        >
        <ion-item>
          <ion-label position="floating">Tarea a realizar....</ion-label>
          <ion-textarea formControlName="description"></ion-textarea>
        </ion-item>
        <div
          *ngIf="description.invalid && (description.dirty || description.touched)"
          class="alert"
        >
          <span
            class="error ion-padding color-danger"
            *ngIf="description.errors?.['required']"
          >
            La descripción es requerida.
          </span>
          <span
            class="error ion-padding color-danger"
            *ngIf="description.errors?.['maxLength']"
          >
            Has superado el máximo de caracteres
          </span>
        </div>

        <ion-button
          type="submit"
          class="ion-margin-top extra-padding-top-bottom"
          expand="full"
          >Guardar</ion-button
        >
      </form>
    </ion-card-content>
  </ion-card>

  <ng-container *ngIf="tasks$ | async as tasks">
    <ion-card class="task-item" color="tertiary" *ngFor="let task of tasks">
      <ion-card-header>
        <ion-card-subtitle class="task-header">
          <span>Task</span>
          <span>02 / 12 / 2021</span>
        </ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        <ion-text>
          <h4>{{ task.description }}</h4>
        </ion-text>
        <ion-fab horizontal="end" vertical="bottom" slot="fixed">
          <ion-fab-button color="light">
            <ion-icon name="ellipsis-horizontal-sharp"></ion-icon>
          </ion-fab-button>
          <ion-fab-list side="start">
            <ion-fab-button color="danger">
              <ion-icon name="trash-sharp"></ion-icon>
            </ion-fab-button>
            <ion-fab-button color="dark">
              <ion-icon name="create-sharp"></ion-icon>
            </ion-fab-button>
            <ion-fab-button color="success">
              <ion-icon name="flash-sharp"></ion-icon>
            </ion-fab-button>
          </ion-fab-list>
        </ion-fab>
      </ion-card-content>
    </ion-card>
  </ng-container>
</ion-content>
